/**
 * Author：tantingting
 * Time：2017/9/20
 * Description：Description
 */
.adData-index {
    min-width: 1000px;

    table {
        .adData-info {
            & > div {
                float: left;
            }

            h4 {
                margin-bottom: 5px;
            }

            span {
                display: inline-block;
                padding: 0 4px;
                color: #fff;
                border-radius: 1px;
            }

            input {
                width: 45px;
                margin-right: 25px;
                text-align: center;
            }

            img {
                width: 60px;
                height: 60px;
                margin-right: 10px;
                float: right;
            }
        }
    }

    .adData-status {
        padding: 3px 8px;
        background: #00a854;
        border-radius: 4px;
        color: #fff;

        &.pre-publish {
            background: #afafaf;
        }

        &.will-publish {
            background: #ff8978;
        }
    }

    .state-btns {
        user-select: none;
        color: #fff;
        padding: 2px 7px;
        border-radius: 4px;
        opacity: 0.8;
        transition: all 0.1s;

        &.prev {
            background: #379dfc;
        }

        &.pass {
            background: #0bbf57;
        }

        &.nopass {
            background: #ee250a;
        }

        &.none {
            background: rgba(117, 117, 117, 0.36);
        }
    }

    .btns {
        p {
            margin-bottom: 10px;

            &:last-child {
                margin: 0;
            }
        }

        .opt-btn {
            user-select: none;
            color: #fff;
            padding: 2px 7px;
            border-radius: 4px;
            opacity: 0.8;
            transition: all 0.1s;

            &.top-btn {
                background: #ff4f3e;
            }

            &.recommend-btn {
                background: #f56a00;
            }

            &.disabled {
                background: #afafaf;
            }

            &:hover {
                opacity: 1;
                box-shadow: 1px 1px 1px #afafaf;
            }
        }
    }
}

.adData-detail {
    .adData-content {
        margin-top: 20px;
        padding: 20px 30px;
        display: flex;
        font-size: 16px;
        justify-content: space-between;

        .adData-main {
            flex: 1;
            margin-right: 30px;
            overflow: hidden;

            img {
                width: auto;
            }
        }

        .adData-info {
            margin-bottom: 30px;

            h3 {
                font-size: 22px;
                margin-bottom: 10px;
            }
        }

        p {
            margin: 10px 0 15px;
        }
    }

    .section {
        margin: 10px 0;

        .name {
            padding: 5px;
            font-size: 15px;
            color: #000;
            font-weight: bold;
        }

        .desc {
            margin-left: 10px;
            color: #000;
        }
    }

    .news-detail-info {
        position: relative;
        margin: 30px 0 10px;
    }

    .img-content {
        margin-top: 15px;

        img {
            width: 185px;
            height: 130px;
        }
    }

    .user-content {
        margin-top: 30px;

        & > .item {
            padding: 20px 30px;
            border-bottom: 1px solid #e9e9e9;
            position: relative;

            .num-tip {
                position: absolute;
                width: 42px;
                height: 42px;
                text-align: center;
                line-height: 40px;
                top: 0;
                left: 0;
                z-index: 1;

                &:after {
                    content: '';
                    position: absolute;
                    width: 78px;
                    transform: rotate(-45deg);
                    height: 1px;
                    background: #e9e9e9;
                    top: 27px;
                    left: -11px;
                    box-shadow: -2px 2px 2px #e9e9e9;
                }
            }

            .first-reply {
                border: 1px dotted #cec7c7;
                padding: 10px;
                border-radius: 5px;
                margin-top: 10px;

                span {
                    color: #108ee9;
                }

                p {
                    margin-top: 10px;
                }
            }
        }

        p {
            margin-top: 25px;
        }

        .user-info {
            display: flex;
            align-items: center;

            & > .img-box {
                margin-right: 20px;
            }
        }
    }

    .img-box {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .pagination {
        float: right;
        margin-top: 30px;
    }
}

.adData-send {
    .adData {
        font-size: 16px;
    }

    .send-info {
        width: 500px;
        padding: 20px;
        margin-bottom: 30px;

        .btns {
            text-align: right;
            padding-right: 38px;
        }
    }

    .ant-upload-select-picture-card i {
        font-size: 32px;
        color: #999;
    }

    .ant-upload-select-picture-card .ant-upload-text {
        margin-top: 8px;
        color: #666;
    }

    .news-summary {
        min-height: 30px;
        max-height: 70px;
    }

    .cover-img-tip {
        display: inline-block;
        position: absolute;
        bottom: 0;
        margin: auto;
    }

    .ant-form-item-label {
        width: 90px;
    }
}

.page-box {
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #e9e9e9;
}
