/**
 * Author：tantingting
 * Time：2017/9/20
 * Description：Description
 */

.count-index {
    position: relative;

    .card {
        display: inline-block;
        width: 220px;
        margin: 0 15px 15px 0;
        border: 1px solid #c0c0c0;
        border-radius: 4px;
        transition: 0.2s all;
        cursor: auto;

        &:hover {
            box-shadow: 0 2px 4px #858585;
        }

        .content {
            padding: 20px 20px 10px;

            .name {
                font-size: 17px;
            }

            .number {
                text-align: right;
                font-size: 40px;
                margin: 5px 0 0 10px;

                span {
                    font-size: 25px;
                }
            }
        }
    }
}
