/**
 * Author：tantingting
 * Time：2017/9/19
 * Description：Description
 */

// 菜单图标以及页面中所需图标的配置, 用法见 https://www.iconfont.cn/help/detail?spm=a313x.7781069.1998910419.15&helptype=code
// 需要添加新图标的话直接在项目中搜索添加, 然后生成新url更换之后, 添加新类名即可

@font-face {
    font-family: 'iconfont';  /* project id 954170 */
    src: url('//at.alicdn.com/t/font_954170_bdymdr09rvp.eot');
    src: url('//at.alicdn.com/t/font_954170_bdymdr09rvp.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_954170_bdymdr09rvp.woff2') format('woff2'), url('//at.alicdn.com/t/font_954170_bdymdr09rvp.woff') format('woff'), url('//at.alicdn.com/t/font_954170_bdymdr09rvp.ttf') format('truetype'), url('//at.alicdn.com/t/font_954170_bdymdr09rvp.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 17px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-account:before {
    content: '\e64c';
}

.icon-team:before {
    content: '\e603';
}

.icon-partner:before {
    content: '\e665';
}

.icon-council:before {
    content: '\e6be';
}

.icon-banner:before {
    content: '\e668';
}
