/**
 * Author：tantingting
 * Time：2017/9/19
 * Description：Description
 */
@font-face {
    font-family: 'iconfont';  /* project id 575565 */
    src: url('//at.alicdn.com/t/font_575565_3b2sfwzmtjr.eot');
    src: url('//at.alicdn.com/t/font_575565_3b2sfwzmtjr.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_575565_3b2sfwzmtjr.woff') format('woff'), url('//at.alicdn.com/t/font_575565_3b2sfwzmtjr.ttf') format('truetype'), url('//at.alicdn.com/t/font_575565_3b2sfwzmtjr.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 17px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-game-config:before {
    content: '\e6b8';
}

// 币圈动态
.icon-socialMedia:before {
    content: '\e65a';
}

// sto
.icon-sto:before {
    content: '\e60d';
}

// app 版本更新
.icon-version:before {
    content: '\e62c';
}

// 热门标签
.icon-hotTags:before {
    content: '\e696';
}

// 小程序
.icon-feedBack:before {
    content: '\e65e';
}

// 小程序
.icon-miniApp:before {
    content: '\e619';
}

.icon-miniNews:before {
    content: '\e675';
}

.icon-miniVideo:before {
    content: '\e640';
}

// 数据统计
.icon-count:before {
    content: '\e649';
}

// 推送
.icon-push:before {
    content: '\e773';
}

// 峰会专题
.icon-activity:before {
    content: '\e7bd';
}

// 峰会专题
.icon-activityPublish:before {
    content: '\e609';
}

// 首页轮播
.icon-top-list:before {
    content: '\e637';
}

.icon-tr-list:before {
    content: '\e786';
}

.icon-product-list:before {
    content: '\e608';
}

.icon-active-list:before {
    content: '\e607';
}

// 首页币种推荐
.icon-homecr:before {
    content: '\e60b';
}

// 合作图标
.icon-hezuo:before {
    content: '\e61c';
}

// 火星
.icon-mars:before {
    content: '\e8fc';
}

// 热词menu
.icon-cr:before {
    content: '\e67a';
}

// 交易所展示列表
.icon-exchangeRecommend-list:before {
    content: '\e60c';
}

// 币种推荐列表
.icon-coinRecommend-list:before {
    content: '\e60e';
}

// 币种热搜列表
.icon-hotCoin-list:before {
    content: '\e682';
}

// 新闻热搜列表
.icon-newsHotWords-list:before {
    content: '\e606';
}

// 敏感词过滤
.icon-wordsFilter:before {
    content: '\e6a7';
}

// app轮播
.icon-banner:before {
    content: '\e646';
}

// 黑名单
.icon-heimingdan:before {
    content: '\e66a';
}

// 账号管理
.icon-accountManager:before {
    content: '\e6c2';
}

// 系统账号管理
.icon-systemAccount:before {
    content: '\e627';
}

// 新闻图标
.icon-post:before {
    content: '\e645';
}

.icon-post-list:before {
    content: '\e88f';
}

.icon-post-info:before {
    content: '\e60a';
}

.icon-post-send:before {
    content: '\e600';
}

.icon-post-channel:before {
    content: '\e604';
}

// 视频图标
.icon-video:before {
    content: '\e74c';
}

.icon-video-list:before {
    content: '\e64e';
}

.icon-video-send:before {
    content: '\e692';
}

// 新闻聚合
.icon-merge:before {
    content: '\e61a';
}

// 快讯图标
.icon-flash:before {
    content: '\e638';
}

.icon-flash-list:before {
    content: '\e6db';
}

.icon-flash-audit:before {
    content: '\e60a';
}

.icon-flash-send:before {
    content: '\e62a';
}

// 评论图标
.icon-comment:before {
    content: '\e62e';
}

.icon-comment-list:before {
    content: '\e63b';
}

// 广告图标
.icon-ad:before {
    content: '\e94e';
}

.icon-pc-list:before {
    content: '\e64a';
}

.icon-mobile-list:before {
    content: '\e650';
}

// ico图标
.icon-ico:before {
    content: '\e691';
}

.icon-ico-edit:before {
    content: '\e639';
}

// 审核图标
.icon-audit:before {
    content: '\e687';
}

.icon-identify:before {
    content: '\e63f';
}

.icon-article:before {
    content: '\e687';
}

// 直播图标
.icon-live:before {
    content: '\e61e';
}

.icon-live-user:before {
    content: '\e657';
}

// 专题管理
.icon-st:before {
    content: '\e601';
}

// 专栏作者管理
.icon-columnAuthor:before {
    content: '\e64f';
}

// 其他
.icon-save:before {
    content: '\e619';
}

.icon-edit:before {
    content: '\e630';
}

.icon-search:before {
    content: '\e7d4';
}

.icon-download:before {
    content: '\e63d';
}

.icon-upload:before {
    content: '\e6e7';
}

.icon-clear:before {
    content: '\e617';
}

// 上传
.iconfont-upload:before {
    content: '\e78a';
}

.iconfont-file:before {
    content: '\e602';
}

.iconfont-close:before {
    content: '\e652';
}

// 上传图片
.iconfont-add:before {
    content: '\e68c';
}

.iconfont-look:before {
    content: '\e603';
}

.iconfont-del:before {
    content: '\e659';
}
